In [23]:
import pandas as pd

In [24]:
electricity_data = pd.read_csv('AMI_Daily_Load_Res_zip.csv')
weather_data = pd.read_csv('Actual+Forecast Weather_Daily.csv')

In [25]:
electricity_data['READ_DATE'] = pd.to_datetime(electricity_data['READ_DATE'])
weather_data['DATE_PART'] = pd.to_datetime(weather_data['DATE_PART'])

In [26]:
electricity_data

       ZIP_CODE  READ_DATE      DAY_KWH
0         48073 2021-10-13  251857.8706
1         48073 2022-04-12  200843.4348
2         48073 2022-12-26  317249.3265
3         48066 2021-12-13  349060.8631
4         48066 2021-02-22  384967.2790
...         ...        ...          ...
10955     48197 2020-02-05  449739.0249
10956     48843 2021-02-01  463811.9163
10957     48843 2020-09-13  450127.4651
10958     48843 2020-05-28  510780.5632
10959     48843 2020-10-24  379313.4001

[10960 rows x 3 columns]

In [9]:
weather_data

,STATIONID,DATE_PART,AVG_TEMP,MAX_TEMP,AVG_DEWPT,AVG_RELHUM,AVG_WSPD,AVG_CLOUDCOVER
0,KTVC,2020-01-01,30.375000,37,21.375000,70.208333,9.458333,70.416667
1,KFNT,2020-01-01,31.666667,39,20.166667,63.125000,11.708333,44.583333
2,KDTW,2020-01-01,31.166667,36,23.125000,72.291667,12.291667,63.333333
3,KHTL,2020-01-01,26.875000,32,18.833333,72.250000,11.083333,40.416667
4,KGRR,2020-01-01,30.000000,40,20.375000,68.250000,11.708333,63.333333
...,...,...,...,...,...,...,...,...
12503,KHTL,2023-08-02,67.000000,80,56.791667,71.875000,5.791667,32.041667
12504,KIMT,2023-08-02,67.500000,80,56.791667,70.916667,4.875000,28.625000
12505,KTVC,2023-08-02,68.000000,78,56.208333,67.708333,5.000000,40.875000
12506,KCFS,2023-08-02,70.125000,82,61.458333,75.916667,3.958333,28.708333
12507,KGRR,2023-08-02,71.500000,82,60.125000,69.208333,6.833333,40.041667

In [10]:
electricity_data['ZIP_CODE'].drop_duplicates()

0     48073
3     48066
7     48180
12    48307
18    48843
19    48446
26    48183
30    48197
34    48060
46    48895
Name: ZIP_CODE, dtype: int64

In [11]:
weather_data['STATIONID'].drop_duplicates()

0       KTVC
1       KFNT
2       KDTW
3       KHTL
4       KGRR
5       KMBS
6       KIMT
7       KCIU
8       KAPN
8559    KCFS
8565    KVLL
Name: STATIONID, dtype: object

In [12]:
# Convert DATE_PART in electricity_df to datetime
electricity_data['READ_DATE'] = pd.to_datetime(electricity_data['READ_DATE'])

# Convert DATE_PART in weather_df to datetime
weather_data['DATE_PART'] = pd.to_datetime(weather_data['DATE_PART'])

# Convert ZIP_CODE in electricity_df to string
electricity_data['ZIP_CODE'] = electricity_data['ZIP_CODE'].astype(str)

# Merge the datasets based on DATE_PART
merged_df = pd.merge(electricity_data, weather_data, left_on='READ_DATE', right_on='DATE_PART', how='inner')

merged_df = merged_df.drop(columns=['DATE_PART'])
merged_df = merged_df.dropna()

#Filter out with just the relevant stations
relevant_stations = ['KDTW', 'KFNT', 'KVLL']
filtered_df = merged_df[merged_df['STATIONID'].isin(relevant_stations)]

grouped = filtered_df.groupby('ZIP_CODE')

In [13]:
# Find the correlations of all weather stations between DAY_KWH and AVG_TEMP for each zipcode and station
correlations = merged_df.groupby(['ZIP_CODE', 'STATIONID']).corr().unstack()['DAY_KWH']['AVG_TEMP']

correlations2 = correlations.reset_index()
correlations_table = correlations2.pivot_table(index='ZIP_CODE', columns='STATIONID', values='AVG_TEMP')

# Find the correlations of all weather stations between DAY_KWH and MAX_TEMP for each zipcode and station
correlations = merged_df.groupby(['ZIP_CODE', 'STATIONID']).corr().unstack()['DAY_KWH']['MAX_TEMP']

correlations2 = correlations.reset_index()
correlations_table = correlations2.pivot_table(index='ZIP_CODE', columns='STATIONID', values='MAX_TEMP')

# Find the correlations of all weather stations between DAY_KWH and AVG_DEWPT for each zipcode and station
correlations = merged_df.groupby(['ZIP_CODE', 'STATIONID']).corr().unstack()['DAY_KWH']['AVG_DEWPT']

correlations2 = correlations.reset_index()
correlations_table = correlations2.pivot_table(index='ZIP_CODE', columns='STATIONID', values='AVG_DEWPT')

# Find the correlations of all weather stations between DAY_KWH and AVG_RELHUM for each zipcode and station
correlations = merged_df.groupby(['ZIP_CODE', 'STATIONID']).corr().unstack()['DAY_KWH']['AVG_RELHUM']

correlations2 = correlations.reset_index()
correlations_table = correlations2.pivot_table(index='ZIP_CODE', columns='STATIONID', values='AVG_RELHUM')

# Find the correlations of all weather stations between DAY_KWH and AVG_WSPD for each zipcode and station
correlations = merged_df.groupby(['ZIP_CODE', 'STATIONID']).corr().unstack()['DAY_KWH']['AVG_WSPD']

correlations2 = correlations.reset_index()
correlations_table = correlations2.pivot_table(index='ZIP_CODE', columns='STATIONID', values='AVG_WSPD')

# Find the correlations of all weather stations between DAY_KWH and AVG_CLOUDCOVER for each zipcode and station
correlations = merged_df.groupby(['ZIP_CODE', 'STATIONID']).corr().unstack()['DAY_KWH']['AVG_CLOUDCOVER']

correlations2 = correlations.reset_index()
correlations_table = correlations2.pivot_table(index='ZIP_CODE', columns='STATIONID', values='AVG_CLOUDCOVER')

In [14]:
# Make a table of the aggregated correlation coefficients for all the weather stations
correlations_avg_temp = merged_df.groupby(['ZIP_CODE', 'STATIONID']).corr().unstack()['DAY_KWH']['AVG_TEMP']
correlations_max_temp = merged_df.groupby(['ZIP_CODE', 'STATIONID']).corr().unstack()['DAY_KWH']['MAX_TEMP']
correlations_avg_dewpt = merged_df.groupby(['ZIP_CODE', 'STATIONID']).corr().unstack()['DAY_KWH']['AVG_DEWPT']
correlations_avg_relhum = merged_df.groupby(['ZIP_CODE', 'STATIONID']).corr().unstack()['DAY_KWH']['AVG_RELHUM']
correlations_avg_wspd = merged_df.groupby(['ZIP_CODE', 'STATIONID']).corr().unstack()['DAY_KWH']['AVG_WSPD']
correlations_avg_cloudcover = merged_df.groupby(['ZIP_CODE', 'STATIONID']).corr().unstack()['DAY_KWH']['AVG_CLOUDCOVER']


correlations_avg_temp_2 = correlations_avg_temp.reset_index()
correlations_max_temp_2 = correlations_max_temp.reset_index()
correlations_avg_dewpt_2 = correlations_avg_dewpt.reset_index()
correlations_avg_relhum_2 = correlations_avg_relhum.reset_index()
correlations_avg_wspd_2 = correlations_avg_wspd.reset_index()
correlations_avg_cloudcover_2 = correlations_avg_cloudcover.reset_index()


correlations_table_avg_temp = correlations_avg_temp_2.pivot_table(index='ZIP_CODE', columns='STATIONID', values='AVG_TEMP')
correlations_table_max_temp = correlations_max_temp_2.pivot_table(index='ZIP_CODE', columns='STATIONID', values='MAX_TEMP')
correlations_table_avg_dewpt = correlations_avg_dewpt_2.pivot_table(index='ZIP_CODE', columns='STATIONID', values='AVG_DEWPT')
correlations_table_avg_relhum = correlations_avg_relhum_2.pivot_table(index='ZIP_CODE', columns='STATIONID', values='AVG_RELHUM')
correlations_table_avg_wspd = correlations_avg_wspd_2.pivot_table(index='ZIP_CODE', columns='STATIONID', values='AVG_WSPD')
correlations_table_avg_cloudcover = correlations_avg_cloudcover_2.pivot_table(index='ZIP_CODE', columns='STATIONID', values='AVG_CLOUDCOVER')


correlations_table = correlations_table_avg_temp + correlations_table_max_temp + correlations_table_avg_dewpt + correlations_table_avg_relhum + correlations_table_avg_wspd + correlations_table_avg_cloudcover
correlations_table

STATIONID,KAPN,KCFS,KCIU,KDTW,KFNT,KGRR,KHTL,KIMT,KMBS,KTVC,KVLL
ZIP_CODE,,,,,,,,,,,
48060,0.954574,0.767984,0.957777,0.966408,0.893156,0.947887,0.921774,0.904772,0.842348,1.017219,0.765879
48066,1.243610,1.070211,1.250417,1.263890,1.183377,1.220437,1.190813,1.265067,1.116235,1.284171,0.993056
48073,1.285711,1.090927,1.288064,1.303249,1.225308,1.265326,1.238796,1.321359,1.169670,1.325648,1.022904
48180,1.378681,1.186146,1.390207,1.400535,1.326320,1.353063,1.322001,1.424645,1.262268,1.407765,1.083725
48183,1.439534,1.224373,1.447333,1.471524,1.400383,1.415291,1.385392,1.481555,1.333885,1.457727,1.126727
48197,1.259366,1.003057,1.263842,1.281655,1.213648,1.250932,1.210681,1.282407,1.154871,1.304516,0.945308
48307,1.254852,0.960598,1.262269,1.272156,1.195595,1.235356,1.207772,1.288230,1.145267,1.296878,0.903258
48446,0.530276,0.076194,0.515081,0.543870,0.476745,0.545879,0.515579,0.456820,0.452882,0.636673,0.178270
48843,1.023815,0.594722,1.028842,1.044843,0.976170,1.026987,0.988849,1.043140,0.934960,1.091189,0.604011
48895,0.374847,-0.303866,0.340413,0.383449,0.325789,0.403303,0.365910,0.265043,0.299007,0.493474,-0.142727

In [15]:
# Initialize an empty list to store results
avg_temp_results = []

# Iterate over each group
for zipcode, group in grouped:
    # Calculate correlation between 'DAY_KWH' and 'AVG_TEMP' for each station
    avg_temp_correlation = group.groupby('STATIONID').corr().unstack()['DAY_KWH']['AVG_TEMP']
    
    # Find the station with the highest correlation
    max_avg_temp_station = avg_temp_correlation.idxmax()
    
    # Get the highest correlation value
    max_avg_temp_value = avg_temp_correlation.max()
    
    # Append results to the list
    avg_temp_results.append({'ZIP_CODE': zipcode, 'AVG_TEMP': max_avg_temp_station})

# Create DataFrame from results
avg_temp = pd.DataFrame(avg_temp_results)
avg_temp

  ZIP_CODE AVG_TEMP
0    48060     KDTW
1    48066     KDTW
2    48073     KDTW
3    48180     KDTW
4    48183     KDTW
5    48197     KDTW
6    48307     KDTW
7    48446     KDTW
8    48843     KDTW
9    48895     KFNT

In [16]:
# Initialize an empty list to store results
max_temp_results = []

# Iterate over each group
for zipcode, group in grouped:
    # Calculate correlation between 'DAY_KWH' and 'AVG_TEMP' for each station
    max_temp_correlation = group.groupby('STATIONID').corr().unstack()['DAY_KWH']['MAX_TEMP']
    
    # Find the station with the highest correlation
    max_max_temp_station = max_temp_correlation.idxmax()
    
    # Get the highest correlation value
    max_max_temp_value = max_temp_correlation.max()
    
    # Append results to the list
    max_temp_results.append({'ZIP_CODE': zipcode, 'MAX_TEMP': max_max_temp_station})

# Create DataFrame from results
max_temp = pd.DataFrame(max_temp_results)
max_temp

  ZIP_CODE MAX_TEMP
0    48060     KDTW
1    48066     KDTW
2    48073     KDTW
3    48180     KDTW
4    48183     KDTW
5    48197     KDTW
6    48307     KDTW
7    48446     KFNT
8    48843     KFNT
9    48895     KFNT

In [17]:
# Initialize an empty list to store results
avg_dewpt_results = []

# Iterate over each group
for zipcode, group in grouped:
    # Calculate correlation between 'DAY_KWH' and 'AVG_TEMP' for each station
    avg_dewpt_correlation = group.groupby('STATIONID').corr().unstack()['DAY_KWH']['AVG_DEWPT']
    
    # Find the station with the highest correlation
    max_avg_dewpt_station = avg_dewpt_correlation.idxmax()
    
    # Get the highest correlation value
    max_avg_dewpt_value = avg_dewpt_correlation.max()
    
    # Append results to the list
    avg_dewpt_results.append({'ZIP_CODE': zipcode, 'AVG_DEWPT': max_avg_dewpt_station})

# Create DataFrame from results
avg_dewpt = pd.DataFrame(avg_dewpt_results)
avg_dewpt

  ZIP_CODE AVG_DEWPT
0    48060      KFNT
1    48066      KDTW
2    48073      KFNT
3    48180      KFNT
4    48183      KFNT
5    48197      KFNT
6    48307      KFNT
7    48446      KFNT
8    48843      KFNT
9    48895      KFNT

In [18]:
# Initialize an empty list to store results
avg_relhum_results = []

# Iterate over each group
for zipcode, group in grouped:
    # Calculate correlation between 'DAY_KWH' and 'AVG_TEMP' for each station
    avg_relhum_correlation = group.groupby('STATIONID').corr().unstack()['DAY_KWH']['AVG_RELHUM']
    
    # Find the station with the highest correlation
    max_avg_relhum_station = avg_relhum_correlation.idxmax()
    
    # Get the highest correlation value
    max_avg_relhum_value = avg_relhum_correlation.max()
    
    # Append results to the list
    avg_relhum_results.append({'ZIP_CODE': zipcode, 'AVG_RELHUM': max_avg_relhum_station})

# Create DataFrame from results
avg_relhum = pd.DataFrame(avg_relhum_results)
avg_relhum

  ZIP_CODE AVG_RELHUM
0    48060       KVLL
1    48066       KVLL
2    48073       KFNT
3    48180       KFNT
4    48183       KFNT
5    48197       KFNT
6    48307       KVLL
7    48446       KVLL
8    48843       KVLL
9    48895       KVLL

In [19]:
# Initialize an empty list to store results
avg_wspd_results = []

# Iterate over each group
for zipcode, group in grouped:
    # Calculate correlation between 'DAY_KWH' and 'AVG_TEMP' for each station
    avg_wspd_correlation = group.groupby('STATIONID').corr().unstack()['DAY_KWH']['AVG_WSPD']
    
    # Find the station with the highest correlation
    max_avg_wspd_station = avg_wspd_correlation.idxmax()
    
    # Get the highest correlation value
    max_avg_wspd_value = avg_wspd_correlation.max()
    
    # Append results to the list
    avg_wspd_results.append({'ZIP_CODE': zipcode, 'AVG_WSPD': max_avg_wspd_station})

# Create DataFrame from results
avg_wspd = pd.DataFrame(avg_wspd_results)
avg_wspd

  ZIP_CODE AVG_WSPD
0    48060     KVLL
1    48066     KVLL
2    48073     KVLL
3    48180     KVLL
4    48183     KVLL
5    48197     KVLL
6    48307     KVLL
7    48446     KVLL
8    48843     KVLL
9    48895     KVLL

In [20]:
# Initialize an empty list to store results
avg_cloudcover_results = []

# Iterate over each group
for zipcode, group in grouped:
    # Calculate correlation between 'DAY_KWH' and 'AVG_TEMP' for each station
    avg_cloudcover_correlation = group.groupby('STATIONID').corr().unstack()['DAY_KWH']['AVG_CLOUDCOVER']
    
    # Find the station with the highest correlation
    max_avg_cloudcover_station = avg_cloudcover_correlation.idxmax()
    
    # Get the highest correlation value
    max_avg_cloudcover_value = avg_cloudcover_correlation.max()
    
    # Append results to the list
    avg_cloudcover_results.append({'ZIP_CODE': zipcode, 'AVG_CLOUDCOVER': max_avg_cloudcover_station})

# Create DataFrame from results
avg_cloudcover = pd.DataFrame(avg_cloudcover_results)
avg_cloudcover

  ZIP_CODE AVG_CLOUDCOVER
0    48060           KVLL
1    48066           KVLL
2    48073           KVLL
3    48180           KVLL
4    48183           KVLL
5    48197           KVLL
6    48307           KVLL
7    48446           KVLL
8    48843           KVLL
9    48895           KVLL

In [21]:
new_df = pd.merge(avg_temp, max_temp, on='ZIP_CODE')
new_df2 = pd.merge(new_df, avg_dewpt, on='ZIP_CODE')
new_df3 = pd.merge(new_df2, avg_wspd, on='ZIP_CODE')
new_df4 = pd.merge(new_df3, avg_relhum, on='ZIP_CODE')
new_df5 = pd.merge(new_df4, avg_cloudcover, on='ZIP_CODE')

new_df5.set_index('ZIP_CODE', inplace=True)

In [22]:
new_df5.insert(6, "RELEVANT STATION(S)", ['KVLL', 'KDTW & KVLL', 'EVEN', 'EVEN', 'EVEN', 'EVEN', 'KVLL', 'KVLL', 'KVLL', 'KFNT & KVLL'], True)
new_df5

,AVG_TEMP,MAX_TEMP,AVG_DEWPT,AVG_WSPD,AVG_RELHUM,AVG_CLOUDCOVER,RELEVANT STATION(S)
ZIP_CODE,,,,,,,
48060,KDTW,KDTW,KFNT,KVLL,KVLL,KVLL,KVLL
48066,KDTW,KDTW,KDTW,KVLL,KVLL,KVLL,KDTW & KVLL
48073,KDTW,KDTW,KFNT,KVLL,KFNT,KVLL,EVEN
48180,KDTW,KDTW,KFNT,KVLL,KFNT,KVLL,EVEN
48183,KDTW,KDTW,KFNT,KVLL,KFNT,KVLL,EVEN
48197,KDTW,KDTW,KFNT,KVLL,KFNT,KVLL,EVEN
48307,KDTW,KDTW,KFNT,KVLL,KVLL,KVLL,KVLL
48446,KDTW,KFNT,KFNT,KVLL,KVLL,KVLL,KVLL
48843,KDTW,KFNT,KFNT,KVLL,KVLL,KVLL,KVLL
48895,KFNT,KFNT,KFNT,KVLL,KVLL,KVLL,KFNT & KVLL